@{
    ViewBag.Title = "Web测试";
}

<h2>Web首页</h2>
<p>
    <span>数据库链接字符串：</span> @YFK.Core.Configuration.YFKConfig.Instance.Connections.DefaultConnectionString
</p>
<p>
    <span>主站域名：</span>@YFK.Core.Configuration.YFKConfig.Instance.WebSetting.MainDomin
    <span>后台域名：</span>@YFK.Core.Configuration.YFKConfig.Instance.WebSetting.AdminDomin
</p>
