<YFKConfig>
  <connections>
    <add name="DefaultConnectionString" connectionString="server=.;database=YFK.BaseDB;uid=sa;pwd=123456" />
  </connections>
  <webSetting>
    <add name="mainDomin" value="www.yimo.dev" />
    <add name="adminDomin" value="admin.yimo.dev" />
  </webSetting>
</YFKConfig>