<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--保存至文件-->
    <target name="debug_log" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/NLog/All/${shortdate}.txt"
                    layout="================记录时间：${longdate} 日志级别：${level:uppercase=false:padding=-5}================ ${newline} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--错误日志记录-->
    <target name="error_log" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/NLog/Error/${shortdate}.txt"
                    layout="================记录时间：${longdate} 日志级别：${level:uppercase=false:padding=-5}================ ${newline} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--屏幕打印消息-->
    <target name="console_log" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>
    <!--数据库配置-->
    <target type="Database" name="database_log" connectionstring="SERVER=127.0.0.1;DATABASE=testdb;UID=sa;PWD=123456;Connect Timeout=15;">
      <!-- SQL脚本：需要在数据库创建日志表，并配置正确的连接字符串
      CREATE TABLE [dbo].[MyLog_Nlog](
        [LogId] [int] IDENTITY(1,1) NOT NULL,
        [CreateDate] [nvarchar](50) NULL,
        [Origin] [nvarchar](50) NULL,
        [LogLevel] [nvarchar](20) NULL,
        [Message] [nvarchar](200) NULL,
        [StackTrace] [nvarchar](200) NULL
        ) ON [PRIMARY]
        GO
      -->
      <commandText>
        insert into MyLog_Nlog ([CreateDate], [Origin], [LogLevel], [Message], [StackTrace]) values (@createDate, @origin, @logLevel, @message, @stackTrace);
      </commandText>
      <parameter name="@createDate" layout="${longdate}"/>
      <!--日志发生时间-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志来源-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志等级-->
      <parameter name="@message" layout="${message}"/>
      <!--日志信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--堆栈信息-->
    </target>
    <!--邮件配置-->
    <target name="error_mail" xsi:type="Mail"
            html="true"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml="true"
            encoding="UTF-8"
            subject="【程序异常日志记录邮件发送】"
            to="接收邮箱@qq.com"
            from="发送人@163.com"
            body="================记录时间：${longdate} 日志级别：${level:uppercase=false:padding=-5}================ ${newline} ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
            smtpUserName="发送人用户名@163.com"
            smtpPassword="发送人密码"
            enableSsl="true"
            smtpServer="smtp.163.com"
            smtpPort="25"
            SmtpAuthentication ="Basic"
            timeout="30" />
    
  </targets>
  <rules>
    <!--路由规则 指定级别↑，执行对应的target配置写入日志 还特么必须得放下面-->
    <logger name="*" minlevel="Debug" writeTo="debug_log" />
    <logger name="*" minlevel="Error" writeTo="error_log" />
    <logger name="*" minlevel="Debug" writeTo="console_log" />
    <logger name="*" minlevel="Debug" writeTo="database_log"/>
    <logger name="*" minlevel="Error" writeTo="error_mail" />
  </rules>
</nlog>